<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card mt-3">
        <div class="card-header">
          <h1 class="card-title">New Topic Quiz</h1>
        </div>
        <div class="card-body">
          <%= render 'form', topic_quiz: @topic_quiz %>
          <%= link_to 'Back', topic_quizzes_path ,class:  "btn btn-primary", :style => "float:right"%>
      </div>
    </div>
  </div>
</div>

